.block {
    position: relative;
    width: 300px;
    height: auto;
    margin: 10px;
    border: 2px solid #101010;

    .buttons {
        position: absolute;
        right: 2px;
        top: 2px;

        button {
            border: 0px;
            padding: 5px;
            margin: 2px;
            color: white;
        }
        #add {
            background-color: #0f6bff;
        }
        #del {
            background-color: red;
        }
    }
}